<!DOCTYPE html>
<html lang="en">

<body>
     <header class="header">
        
        <div class="container">
            <div class="header-main">
                <div class="logo col-lg-6"><a asp-controller="Home" asp-action="Products">PIXIESET</a></div>
                <div class="open-nav-menu">
                    <span></span>
                </div>
                <div class="menu-overlay">
                </div>
                <!-- navigation menu start -->
                <nav class="nav-menu">
                    <div class="close-nav-menu">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <ul class="menu">
                        <li class="menu-item menu-item-has-children active">
                            <a href="#" data-toggle="sub-menu">Products <i class="plus"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a asp-controller="Home" asp-action="Products">
                                        <div class="flx"><img src="../assets/images/product-cg.png" alt="">
                                            <div class="flex">
                                                <h3>Client Gallery</h3><span>Better way to share, deliver, proof and
                                                    sell photos.</span>
                                            </div>
                                        </div>
                                    </a></li>
                                <li class="menu-item"><a href="../Html/website.html">
                                        <div class="flx"><img src="../assets/images/product-website.png" alt="">
                                            <div class="flex">
                                                <h3>Website</h3><span>Build a beautiful portfolio website</span>
                                            </div>
                                        </div>
                                    </a></li>
                                <li class="menu-item"><a href="../Html/studio manager.html">
                                        <div class="flx"><img src="../assets/images/product-studio-manager.png" alt="">
                                            <div class="flex">
                                                <h3>Studio Manager</h3><span class="beta">beta</span><span>Photography
                                                    business manager</span>
                                            </div>
                                        </div>
                                    </a></li>
                                <li class="menu-item"><a href="../Html/store.html">
                                        <div class="flx"><img src="../assets/images/product-store.png" alt="">
                                            <div class="flex">
                                                <h3>Store</h3><span>Your online store for prints and downloads</span>
                                            </div>
                                        </div>
                                    </a></li>
                                <li class="menu-item"><a href="../Html/mobile gallery app.html">
                                        <div class="flx"><img src="../assets/images/product-mobile.png" alt="">
                                            <div class="flex">
                                                <h3>Mobile Gallery App</h3><span>Simple, personalized mobile photo
                                                    albums</span>
                                            </div>
                                        </div>
                                    </a></li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a asp-controller="Example" asp-action="Examples">EXAMPLE</a>
                        </li>
                        <li class="menu-item">
                            <a asp-controller="Pricing" asp-action="Pricings">PRICING</a>
                        </li>
                        <li class="menu-item login">
                            <a href="../Html/login.html">Login</a>

                        </li>
                        <li class="menu-item signup">
                            <a href="../Html/register.html">Sign Up</a>
                        </li>
                    </ul>
                </nav>
                <!-- navigation menu end -->
            </div>
           
        </div>
    </header>
    @RenderBody()
      <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="product col-lg-3 col-md-6 col-sm-12">
                        <h6>PRODUCT</h6>
                        <ul>

                            <li><a asp-controller="Home" asp-action="Products">Client Gallery</a></li>
                            <li><a asp-controller="Website" asp-action="Websites">Website</a></li>
                            <li><a href="../Html/studio manager.html">Studio Manager</a></li>
                            <li><a href="../Html/store.html">Store</a></li>
                            <li><a href="../Html/mobile gallery app.html">Mobile Gallery Map</a></li>
                             <li><a asp-controller="Pricing" asp-action="Pricings">Pricings</a></></li>
                        

                        </ul>

                    </div>
                    <div class="resour col-lg-3 col-md-6 col-sm-12">
                        <h6>RESOURCES</h6>
                        <ul>

                       
                            <li><a asp-controller="Example" asp-action="Examples">Examples</a></li>
                            <li><a asp-controller="Example" asp-action="Examples">Plugins</a></></li>
                               
                          


                        </ul>
                    </div>
                    <div class="company col-lg-3 col-md-6 col-sm-12">
                        <h6>Company</h6>
                        <ul>

                            <li><a href="../Html/About Us.html">About Us</a></li>
                            <li><a href="../Html/careers.html">Careers</a></li>
                            <li><a href="../Html/Terms of Services.html">Terms of Service</a></li>
                            <li><a href="../Html/Privacy Policy.html">Privacy Policy</a></li>

                        </ul>
                    </div>
                    <div class="pixieset col-lg-3 col-md-6 col-sm-12">
                        <div class="image"><img src="../assets/images/logo.svg" alt=""></div>
                        <div class="title">
                            <p>An all-in-one platform for modern photographers, offering photo client galleries,
                                websites, online stores and studio management software tools.</p>
                        </div>
                        <div class="socialmedias">
                            <h6>Social</h6>
                            <ul>
                                <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li>
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                </li>
                                <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                                <li>
                                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

     
</body>
</html>
